<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="/css/demo.css" media="all" rel="stylesheet" type="text/css" />
    <title>Cloudinary Express</title>
    
  </head>
  <body>
    <%-body%>
  </body>
</html>
