<% layout('../layouts/default') %>
<h1>
  <%=error.message%>
</h1>
<p>
  You will need a Cloudinary account to run this demo project.
  <ol>
    <li>
      If you don't have an account, sign up for free
      <a href="https://cloudinary.com/users/register/free">here</a>.
    </li>
    <li>
      Download your customized cloudinary.yml configuration file using our
      <a href="https://cloudinary.com/console">Management Console</a>
      or by following this
      <a href="http://cloudinary.com/console/cloudinary.yml">direct link</a>.
    </li>
    <li>
      Place cloudinary.yml into the project's config directory.
    </li>
    <li>
      Restart your Rails server process.
    </li>
  </ol>
</p>

